<a href="https://colab.research.google.com/github/juangombra2093/Ejercicios_IICD/blob/main/EDA_Caso_Bicicletas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ejercicio 2: Comportamiento de usuarios de Ecobicis**
Realizado por: Juan Pablo Gómez Bravo - 08 de agosto de 2020

In [ ]:
#importar libreria
import pandas as pd

In [ ]:
estaciones = pd.read_csv("estaciones.csv",index_col=0)
estaciones.head()

                                     address  ...        lon
1  443 - Bruno Trave-Avenida México-Coyoacan  ... -99.162025
2                     416 - Recreo-Parroquía  ... -99.177607
3                        437 - Moras-Comunal  ... -99.176022
4     438 - Adolfo Prieto-José María Olloqui  ... -99.174583
5        440 - Real De Mayorazgo-Puente Xoco  ... -99.168669

[5 rows x 8 columns]

In [ ]:
viajes = pd.read_csv("2019-09.csv")
viajes.head()

  Genero_Usuario  Edad_Usuario  ...  Fecha_Arribo  Hora_Arribo
0              M            30  ...    01/09/2019      0:08:28
1              M            37  ...    01/09/2019      0:15:21
2              M            22  ...    01/09/2019      0:25:26
3              M            28  ...    01/09/2019      0:27:56
4              M            42  ...    01/09/2019      0:05:06

[5 rows x 9 columns]

# **1. Usa "merge" para fusionar las bases de datos, uniendo por [id] en estaciones de bicicletas y [Ciclo_Estacion_Arribo]**

In [ ]:
ejer2 = viajes.merge(estaciones, left_on = "Ciclo_Estacion_Arribo", right_on = "id", how = "inner")
ejer2.head()

  Genero_Usuario  Edad_Usuario   Bici  ...  nearbyStations      lat       lon
0              M            30   7685  ...      [254, 259]  19.4372 -99.15816
1              M            44   6785  ...      [254, 259]  19.4372 -99.15816
2              F            43   9704  ...      [254, 259]  19.4372 -99.15816
3              M            31  11280  ...      [254, 259]  19.4372 -99.15816
4              F            59  10463  ...      [254, 259]  19.4372 -99.15816

[5 rows x 17 columns]

# **2. ¿Cuál es la bicicleta que se dejó más veces?.**

In [ ]:
conteo_bici = ejer2.groupby(["Bici"]).count()[["Genero_Usuario"]]
conteo_bici.head()

      Genero_Usuario
Bici
1149              59
1353               5
1383              91
1384              56
1385             160

In [ ]:
 ans2 = conteo_bici.sort_values(['Genero_Usuario'], ascending=[False])
 ans2.head()

       Genero_Usuario
Bici
12492             191
12056             177
12118             177
7193              174
10764             174

In [ ]:
#la bici mas usada fue la 12492 un total de 191 veces

# **3. ¿Cuál es la bicicleta que se utilizó más tiempo en horas y fracciones?**

In [ ]:
#Constucción variable Tiempo de Retiro
ejer2["Tiempo_Retiro"] = pd.to_datetime(ejer2["Fecha_Retiro"] + " " + ejer2["Hora_Retiro"],dayfirst=True)
ejer2["Tiempo_Retiro"]

0        2019-09-01 00:00:54
1        2019-09-01 00:14:45
2        2019-09-01 00:19:06
3        2019-09-01 06:45:39
4        2019-09-01 09:24:18
                 ...
648771   2019-09-30 20:02:06
648772   2019-09-30 20:41:04
648773   2019-09-30 21:37:02
648774   2019-09-30 22:56:53
648775   2019-09-30 23:04:54
Name: Tiempo_Retiro, Length: 648776, dtype: datetime64[ns]

In [ ]:
#Constucción variable Tiempo de Arribo
ejer2["Tiempo_Arribo"] = pd.to_datetime(ejer2["Fecha_Arribo"] + " " + ejer2["Hora_Arribo"],dayfirst=True)
ejer2["Tiempo_Arribo"]

0        2019-09-01 00:08:28
1        2019-09-01 00:22:33
2        2019-09-01 00:35:25
3        2019-09-01 06:48:26
4        2019-09-01 09:43:39
                 ...
648771   2019-09-30 20:32:07
648772   2019-09-30 20:47:18
648773   2019-09-30 21:41:43
648774   2019-09-30 23:01:53
648775   2019-09-30 23:14:10
Name: Tiempo_Arribo, Length: 648776, dtype: datetime64[ns]

In [ ]:
#Restando fechas
ejer2["Tiempo_Utilizado"] = (ejer2["Tiempo_Arribo"] - ejer2["Tiempo_Retiro"])
ejer2["Tiempo_Utilizado"]

0        00:07:34
1        00:07:48
2        00:16:19
3        00:02:47
4        00:19:21
           ...
648771   00:30:01
648772   00:06:14
648773   00:04:41
648774   00:05:00
648775   00:09:16
Name: Tiempo_Utilizado, Length: 648776, dtype: timedelta64[ns]

In [ ]:
ejer2.head()

  Genero_Usuario  Edad_Usuario  ...       Tiempo_Arribo  Tiempo_Utilizado
0              M            30  ... 2019-09-01 00:08:28          00:07:34
1              M            44  ... 2019-09-01 00:22:33          00:07:48
2              F            43  ... 2019-09-01 00:35:25          00:16:19
3              M            31  ... 2019-09-01 06:48:26          00:02:47
4              F            59  ... 2019-09-01 09:43:39          00:19:21

[5 rows x 20 columns]

In [ ]:
tiempo_bici = ejer2.groupby(["Bici"])["Tiempo_Utilizado"].sum()
tiempo_bici.head()

Bici
1149   0 days 13:16:38
1353   0 days 00:40:40
1383   0 days 19:04:09
1384   0 days 11:27:35
1385   1 days 09:53:36
Name: Tiempo_Utilizado, dtype: timedelta64[ns]

In [ ]:
tiempo_bici.sort_values(ascending=False)

Bici
8883    46 days 09:06:17
10192   19 days 12:26:06
11057   17 days 08:32:44
12520   17 days 00:09:00
9176    10 days 16:59:25
              ...
14096    0 days 00:06:29
3919     0 days 00:05:07
14101    0 days 00:05:04
11542    0 days 00:04:04
10050    0 days 00:03:51
Name: Tiempo_Utilizado, Length: 5596, dtype: timedelta64[ns]

In [ ]:
#La bicicleta que mas tiempo se uso fue la 8883 con un total de 46 días 9 horas 46 minutos y 17 segundos.

# **4. ¿Cuál es el tiempo promedio de uso por bicicleta?.**

In [ ]:
Avg_tiempo = ejer2["Tiempo_Utilizado"].mean()

In [ ]:
print("el tiempo promedio de uso por bicicleta es:", Avg_tiempo)

el tiempo promedio de uso por bicicleta es: 0 days 00:15:31.444555

# **5. ¿Cuál es la edad promedio de los usuarios que retiran una bicicleta en la Estación "136"?.**

In [ ]:
#seleccionamos info de la estación 136
ejer2_5 = ejer2[ejer2["Ciclo_Estacion_Retiro"] == 136]
ejer2_5.head()

     Genero_Usuario  Edad_Usuario  ...       Tiempo_Arribo  Tiempo_Utilizado
0                 M            30  ... 2019-09-01 00:08:28          00:07:34
163               F            32  ... 2019-09-03 19:43:59          00:21:18
165               M            35  ... 2019-09-03 19:43:51          00:20:56
1295              M            31  ... 2019-09-24 11:14:17          00:12:59
1623              F            20  ... 2019-09-30 12:19:48          00:11:37

[5 rows x 20 columns]

In [ ]:
avg_age136 = ejer2_5.groupby(["Ciclo_Estacion_Retiro"]).mean()[["Edad_Usuario"]]
print("la edad promedio de quienes retiran una bicicleta en la estación 136 es:", avg_age136.iloc[0]["Edad_Usuario"])

la edad promedio de quienes retiran una bicicleta en la estación 136 es: 34.57195799876467